@model List<Pedido>;
<partial name="_menuAdminPartial">
<div class="tabela">                    
    <table id="customers">
        <tr>
            <th>N° Pedido</th>
            <th>ID do Cliente</th>
            <th>Nome do Cliente</th>
            <th>CPF</th>
            <th>Data do pedido</th>
            <th>Quantidade de produtos</th>
            <th>Preço</th>
            <th>Detalhes</th>
            <th>Excluir</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.idPedido</td>
            <td>@item.idUsuario</td>
            <td>@item.nomeUsuario</td>
            <td>@item.cpfUsuario</td>
            <td>@item.dataPedido</td>
            <td>@item.quantidadeProduto</td>
            <td>R$@item.preco</td>
            <td><a href="/Pedido/Detalhes/@item.idPedido">Detalhes</a></td>
            <td><a href="/Pedido/ExcluirPedido/@item.idPedido">Excluir</a></td>

        </tr>
        }
    </table>
</div>